<header class="header">
  <div class="banner">
    Anastasiia Stavitskaya
  </div>
  <nav class="header-nav">
    <ul class="nav top-nav clearfix">
      <li>About</li>
      <li>Resume</li>
      <li>Social Media</li>
      <li>Blog</li>
      <li>Contact</li>
    </ul>
  </nav>
</header>

